.sidebar-search {

    >div {
        padding: 10px 20px;
    }

    input {

        border-radius: 0;
    }
    .input-group{
        flex-wrap: nowrap;
    }

    .input-group-append .input-group-text {
        border-radius: 0;
        border-left: 0;
    }
}