@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);        
    }
}

@keyframes sonar {
    0% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

body {
    font-size: .9rem;
}

@import "./sidebar-wrapper";


/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    background-size: cover;
}
.page-wrapper .theme.selected {
    border:2px solid #00c7ff;
}

.page-wrapper .theme.chiller-theme {
    background: #1d1d1d;
}

.page-wrapper .theme.ice-theme {
    background: #2B3A42;
}

.page-wrapper .theme.light-theme {
    background: #F1F0ED;
}

.page-wrapper .theme.cool-theme {
    background: #38373D;
}


/*----------------  toggeled sidebar  ----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
    }
}

/*----------------show sidebar button----------------*/

#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition: left .3s ease;
    transition-delay: .3s;
    
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

/*-----------------  page-content  ------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    transition: padding-left .3s ease;
}

.page-wrapper .page-content>div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*----------------  Scroll bar style   --------------- */

.mCSB_scrollTools {
    width: 6px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px;
}

/*----------sidebar background images --------------*/

.sidebar-bg.bg1 .sidebar-wrapper{
    background-image: url(../img/bg1.jpg);
}
.sidebar-bg.bg2 .sidebar-wrapper{
    background-image: url(../img/bg2.jpg);
}
.sidebar-bg.bg3 .sidebar-wrapper{
    background-image: url(../img/bg3.jpg);
}
.sidebar-bg.bg4 .sidebar-wrapper{
    background-image: url(../img/bg4.jpg);
}


[data-bg="bg1"] {
    background-image: url(../img/bg1.jpg);
}

[data-bg="bg2"] {
    background-image: url(../img/bg2.jpg);
}

[data-bg="bg3"] {
    background-image: url(../img/bg3.jpg);
}
[data-bg="bg4"] {
    background-image: url(../img/bg4.jpg);
}