{
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {},
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "prettier"],
  "rules": {}
}
