$text-color: #818896;
$secondary-text-color: #d3d8e1;

$bg-color: #1e2229;
$secondary-bg-color: #252a31;

$box-shadow: 1px 1px 4px #9aa0b9;

$border-color: rgba(#535d7d, 0.3);

$sidebar-header-height: 64px;
$sidebar-footer-height: 64px;
