$text-color: #ccc3d1;
$secondary-text-color: #e6e1e9;

$bg-color: #341934;
$secondary-bg-color: #241124;

$border-color: rgba(#535d7d, 0.3);

$sidebar-header-height: 64px;
$sidebar-footer-height: 64px;
