$primary-color: #00b6f8;
$secondary-color: #00b6f8;
$success-color: #00e592;
$warning-color: #ffb400;
$error-color: #ff4954;

$text-color: #818896;
$secondary-text-color: #74798c;

$bg-color: #1e2229;
$secondary-bg-color: #252a31;

$box-shadow: 1px 1px 4px #9aa0b9;

$border-color: rgba(#535d7d, 0.3);
