.chiller-theme .sidebar-wrapper {
  background-color: #1d1d1d; }
  .chiller-theme .sidebar-wrapper .sidebar-header,
  .chiller-theme .sidebar-wrapper .sidebar-search,
  .chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #2b2b2b; }
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #2b2b2b;
    box-shadow: none; }
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .chiller-theme .sidebar-wrapper .sidebar-brand > a,
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
  .chiller-theme .sidebar-wrapper .sidebar-footer > div > a {
    color: #bdbdbd; }
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
  .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
  .chiller-theme .sidebar-wrapper .sidebar-footer > div > a:hover i {
    color: #ffffff; }
  .chiller-theme .sidebar-wrapper ul li:hover a i,
  .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ffffff; }
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
    border: none;
    margin-left: 1px; }
  .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .chiller-theme .sidebar-wrapper .sidebar-footer {
    background-color: #2b2b2b;
    box-shadow: 0px -1px 5px #131212;
    border-top: 1px solid #3a3a3a; }
  .chiller-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .chiller-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd; }

.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff; }

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #636363; }

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.chiller-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(29, 29, 29, 0.8); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: none; }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255, 255, 255, 0.1); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(43, 43, 43, 0.5);
  box-shadow: 0px -1px 5px rgba(43, 43, 43, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.cool-theme .sidebar-wrapper {
  background-color: #38373D; }
  .cool-theme .sidebar-wrapper .sidebar-header,
  .cool-theme .sidebar-wrapper .sidebar-search,
  .cool-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #504E57; }
  .cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #504E57;
    box-shadow: none; }
  .cool-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .cool-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .cool-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .cool-theme .sidebar-wrapper .sidebar-brand > a,
  .cool-theme .sidebar-wrapper .sidebar-menu ul li a,
  .cool-theme .sidebar-wrapper .sidebar-footer > div > a {
    color: #918F9E; }
  .cool-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
  .cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
  .cool-theme .sidebar-wrapper .sidebar-header .user-info,
  .cool-theme .sidebar-wrapper .sidebar-brand > a:hover,
  .cool-theme .sidebar-wrapper .sidebar-footer > div > a:hover i {
    color: #b3b8c1; }
  .cool-theme .sidebar-wrapper ul li:hover a i,
  .cool-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .cool-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
  .cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #b3b8c1; }
  .cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #504E57;
    border: none;
    margin-left: 1px; }
  .cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #5B5963; }
  .cool-theme .sidebar-wrapper .sidebar-footer {
    background-color: #504E57;
    box-shadow: 0px -1px 5px #2a292d;
    border-top: 1px solid #5B5963; }
  .cool-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .cool-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.cool-theme.toggled #close-sidebar {
  color: #918F9E; }

.cool-theme.toggled #close-sidebar:hover {
  color: #b3b8c1; }

.cool-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #918F9E; }

.cool-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.cool-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(47, 47, 47, 0.8); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid rgba(95, 95, 95, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: rgba(95, 95, 95, 0.5);
  box-shadow: none; }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(95, 95, 95, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(80, 78, 87, 0.5);
  box-shadow: 0px -1px 5px rgba(80, 78, 87, 0.5);
  border-top: 1px solid rgba(95, 95, 95, 0.5); }

.ice-theme .sidebar-wrapper {
  background-color: #2B3A42; }
  .ice-theme .sidebar-wrapper .sidebar-header,
  .ice-theme .sidebar-wrapper .sidebar-search,
  .ice-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a4d56; }
  .ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #3a4d56;
    box-shadow: none; }
  .ice-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .ice-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .ice-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .ice-theme .sidebar-wrapper .sidebar-brand > a,
  .ice-theme .sidebar-wrapper .sidebar-menu ul li a,
  .ice-theme .sidebar-wrapper .sidebar-footer > div > a {
    color: #bdd4de; }
  .ice-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
  .ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
  .ice-theme .sidebar-wrapper .sidebar-header .user-info,
  .ice-theme .sidebar-wrapper .sidebar-brand > a:hover,
  .ice-theme .sidebar-wrapper .sidebar-footer > div > a:hover i {
    color: #EFEFEF; }
  .ice-theme .sidebar-wrapper ul li:hover a i,
  .ice-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .ice-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
  .ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #EFEFEF; }
  .ice-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #3a4d56;
    border: none;
    margin-left: 1px; }
  .ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .ice-theme .sidebar-wrapper .sidebar-footer {
    background-color: #3a4d56;
    box-shadow: 0px -1px 5px transparent;
    border-top: 1px solid #495d67; }
  .ice-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .ice-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.ice-theme.toggled #close-sidebar {
  color: #bdd4de; }

.ice-theme.toggled #close-sidebar:hover {
  color: #EFEFEF; }

.ice-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #8998a5; }

.ice-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.ice-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(2, 19, 25, 0.8); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid rgba(58, 77, 86, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: rgba(58, 77, 86, 0.5);
  box-shadow: none; }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(58, 77, 86, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(58, 77, 86, 0.3);
  box-shadow: 0px -1px 5px rgba(58, 77, 86, 0.3);
  border-top: 1px solid rgba(58, 77, 86, 0.5); }

.light-theme .sidebar-wrapper {
  background-color: #F1F0ED; }
  .light-theme .sidebar-wrapper .sidebar-header,
  .light-theme .sidebar-wrapper .sidebar-search,
  .light-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #ffffff; }
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #ffffff;
    box-shadow: none; }
  .light-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .light-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .light-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .light-theme .sidebar-wrapper .sidebar-brand > a,
  .light-theme .sidebar-wrapper .sidebar-menu ul li a,
  .light-theme .sidebar-wrapper .sidebar-footer > div > a {
    color: #74726E; }
  .light-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
  .light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
  .light-theme .sidebar-wrapper .sidebar-header .user-info,
  .light-theme .sidebar-wrapper .sidebar-brand > a:hover,
  .light-theme .sidebar-wrapper .sidebar-footer > div > a:hover i {
    color: #302F2C; }
  .light-theme .sidebar-wrapper ul li:hover a i,
  .light-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
  .light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #302F2C; }
  .light-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #ffffff;
    border: none;
    margin-left: 1px; }
  .light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .light-theme .sidebar-wrapper .sidebar-footer {
    background-color: #ffffff;
    box-shadow: 0px -1px 5px transparent;
    border-top: 1px solid #A4A29E; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.light-theme.toggled #close-sidebar {
  color: #74726E; }

.light-theme.toggled #close-sidebar:hover {
  color: #302F2C; }

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #A4A29E; }

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.light-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(241, 240, 237, 0.8); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: none; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
