.sidebar-bg.bg1 .sidebar-wrapper {
    background-image: url(../img/bg1.jpg);
}

.sidebar-bg.bg2 .sidebar-wrapper {
    background-image: url(../img/bg2.jpg);
}

.sidebar-bg.bg3 .sidebar-wrapper {
    background-image: url(../img/bg3.jpg);
}

.sidebar-bg.bg4 .sidebar-wrapper {
    background-image: url(../img/bg4.jpg);
}


[data-bg="bg1"] {
    background-image: url(../img/bg1.jpg);
}

[data-bg="bg2"] {
    background-image: url(../img/bg2.jpg);
}

[data-bg="bg3"] {
    background-image: url(../img/bg3.jpg);
}

[data-bg="bg4"] {
    background-image: url(../img/bg4.jpg);
}